#body {
    max-width: 800px;
    margin: 0 auto;
}

header {
    
    background-color: #603140;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration-color: white;
    border-radius: 50px;
}

img {
    max-width: 150px;
    float: right;
    padding-right: 10px;
    margin-top: -48px;
    margin-right: 30px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
}

main {
    margin-left: 55px;
}

footer {
    border-radius: 10px;
    text-align: center;
    
    color: white;
    background-color: #603140;
    height: 55px;
    margin-top: 100px;
}

#a2{
    color: white;
}